.todo-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.todo-container h2 {
        padding-left: 1rem;
    }

.todo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.pending-todo-wrapper,
.closed-todo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.pending-todo-wrapper ul li, .closed-todo-wrapper ul li {
            position: relative;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 0.5rem;
            border: 1px solid rgb(211, 211, 211);
            border-radius: 20px;
        }

.pending-todo-wrapper ul li input, .closed-todo-wrapper ul li input {
                margin: 0 0.5rem 0 0;
            }

.pending-todo-wrapper ul li span, .closed-todo-wrapper ul li span {
                font-size: 1rem;
            }

.pending-todo-wrapper ul li[aria-priority="low"], .closed-todo-wrapper ul li[aria-priority="low"] {
                background-color: rgb(255, 255, 224);
            }

.pending-todo-wrapper ul li[aria-priority="medium"], .closed-todo-wrapper ul li[aria-priority="medium"] {
                background-color: rgb(255, 160, 122);
            }

.pending-todo-wrapper ul li[aria-priority="high"], .closed-todo-wrapper ul li[aria-priority="high"] {
                background-color: rgb(240, 128, 128);
            }

.add-todo-wrapper {
    width: 49%;
}

.add-todo-wrapper form {
        position: relative;
    }

.add-todo-wrapper form input {
            width: 100%;
            height: 50px;
            border-radius: 20px;
            border: 1px solid rgb(211, 211, 211);
            background-color: transparent;
            font-size: 1rem;
        }

.add-todo-wrapper form input[type="checkbox"]:checked {
                background-color: rgb(144, 238, 144);
            }

.add-todo-wrapper form input[aria-prio="low"] {
                background-color: rgb(255, 255, 224);
            }

.add-todo-wrapper form input[aria-prio="medium"] {
                background-color: rgb(255, 160, 122);
            }

.add-todo-wrapper form input[aria-prio="high"] {
                background-color: rgb(240, 128, 128);
            }

.closed-todo-list,
.pending-todo-list {
    width: 100%;
}

#closedTodoList li {
    background-color: rgb(144, 238, 144);
}

.todo-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    background-color: #f0f0f1;
    border: 1px solid rgb(211, 211, 211);
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.todo-btn:before {
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        width: 25px;
        height: 25px;
        display: block;
    }

.todo-btn.delet:hover {
            background-color: rgb(240, 128, 128);
        }

.todo-btn.delet::before {
            background-image: url("../icons/wp-todo-list-trash-icon.svg");
        }

.todo-btn.add:hover {
            background-color: rgb(144, 238, 144);
        }

.todo-btn.add::before {
            background-image: url("../icons/wp-todo-list-send-icon.svg");
        }

.prio-container {
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    margin-top: 0.5rem;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.prio-container ul {
        margin: 0;
    }

.prio-container ul li {
            font-size: 1rem;
            padding: 13px 0 13px 13px;
            margin: 0;
            border-bottom: 1px solid rgb(211, 211, 211);
            transition: all 550ms ease-in-out;
            cursor: pointer;
        }

.prio-container ul li:nth-child(3) {
                border-bottom: 0;
            }

.prio-container ul li.high {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

.prio-container ul li.high:hover {
                    background-color: rgb(240, 128, 128);
                }

.prio-container ul li.medium:hover {
                background-color: rgb(255, 160, 122);
            }

.prio-container ul li.low {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }

.prio-container ul li.low:hover {
                    background-color: rgb(255, 255, 224);
                }

.prio-container.dropdown_active {
        max-height: unset;
        overflow: auto;
        visibility: visible;
    }
